main{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 64px;
}
main img{
    width: 100%;
    max-width: 900px;
    height: auto;
    align-self: flex-end;
    filter: var(--shadow-image);
}

section{
    margin-top: 100px;
    width: 100%;
    max-width: 656px;
}
section h1, 
section h2{    
    text-transform: uppercase;
}
section h2{
    font-size: 24px;
    font-weight: 900;
    color: var(--red-dark);
    padding-left: 4px;
}
section h1{
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 0.8;
}
.description{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin: 16px 0;
}
.buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
}
.buy p{
    font-size: 60px;
    font-family: 'Inter';
}
.buy p sup{
    font-size: 30px;
    color: var(--red-dark);
    margin-right: 6px;
}
.buy-spans{
    display: flex;
    gap: 12px;
}
.buy-spans span{
    height: 70px;
    background-color: var(--red-dark);
    transform: skew(-30deg);
}
.buy-spans span:nth-child(1){
    width: 8px;

}
.buy-spans span:nth-child(2){
    width: 14px;

}
.buy-spans span:nth-child(3){
    width: 300px;

}
.buy-spans .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: skew(30deg);
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    transition: all .8s ease-in-out;
   
}
.buy-spans .btn:hover{   
    animation: link 0.8s infinite alternate;
}
@keyframes link{
    from{transform: scale(1) skew(30deg);}
    to{transform: scale(1.2) skew(30deg);}
}